.ab-Divider,
.ab-Divider-vertical {
  --divider-width: 1px;
}

.ab-Divider {
  border-width: var(--divider-width);
  border-top-style: solid;
  border-top-color: var(--ab-semantic-color-border-light);
}

.ab-Divider-vertical {
  border-width: var(--divider-width);
  border-left-style: solid;
  border-left-color: var(--ab-semantic-color-border-light);
}
