.ab-Snackbar {
  --snackbar-color: var(--ab-semantic-color-text-default);
  --snackbar-background-color: var(--ab-semantic-color-background-rest-primary);
  --snackbar-border-color: var(--ab-semantic-color-border-light);
}

.ab-Snackbar-neutral {
  --snackbar-color: var(--ab-semantic-color-text-default);
  --snackbar-background-color: var(--ab-semantic-color-background-rest-primary);
  --snackbar-border-color: var(--ab-semantic-color-border-light);
}

.ab-Snackbar-info {
  --snackbar-color: var(--ab-semantic-color-text-default);
  --snackbar-background-color: var(
    --ab-semantic-color-background-info-secondary
  );
  --snackbar-border-color: none;
}

.ab-Snackbar-notice {
  --snackbar-color: var(--ab-semantic-color-text-default);
  --snackbar-background-color: var(
    --ab-semantic-color-background-rest-secondary
  );
  --snackbar-border-color: none;
}

.ab-Snackbar-positive {
  --snackbar-color: var(--ab-semantic-color-text-default);
  --snackbar-background-color: var(
    --ab-semantic-color-background-positive-secondary
  );
  --snackbar-border-color: none;
}

.ab-Snackbar-negative {
  --snackbar-color: var(--ab-semantic-color-text-negative);
  --snackbar-background-color: var(
    --ab-semantic-color-background-negative-secondary
  );
  --snackbar-border-color: none;
}

.ab-Snackbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--ab-semantic-spacing-6) 0;
  height: 72px;
  border-radius: var(--ab-semantic-border-radius-sm);
  font-weight: var(--ab-semantic-typography-font-weight-bold);
  background-color: var(--snackbar-background-color);
  color: var(--snackbar-color);
  border: 1px solid var(--snackbar-border-color);

  &-neutral,
  &-info,
  &-notice,
  &-positive,
  &-negative {
    background-color: var(--snackbar-background-color);
    color: var(--snackbar-color);
    border: 1px solid var(--snackbar-border-color);
  }

  &-label {
    margin-right: auto;
  }

  &-close {
    display: block;
    margin-left: auto;
    text-align: center;
  }
}
