@use '../../designTokens/_breakpoint' as *;

$font-weights: (
  normal: var(--ab-semantic-typography-font-weight-regular),
  bold: var(--ab-semantic-typography-font-weight-bold),
);

@each $key, $value in $font-weights {
  .ab-font-#{$key} {
    font-weight: $value;
  }
}
