@use '../../designTokens' as css-design-tokens;

$line-heights: (
  none: css-design-tokens.$line-height-none,
  s: css-design-tokens.$line-height-s,
  m: css-design-tokens.$line-height-m,
  l: css-design-tokens.$line-height-l,
);

@each $key, $value in $line-heights {
  .ab-leading-#{$key} {
    line-height: $value;
  }
}
