@use '../../designTokens/breakpoint' as breakpoint;

@each $breakpoint, $variant in breakpoint.$responsive-variants {
  @include breakpoint.breakpoint($breakpoint) {
    .ab#{$variant}-text-right {
      text-align: right;
    }
    .ab#{$variant}-text-left {
      text-align: left;
    }
    .ab#{$variant}-text-center {
      text-align: center;
    }
  }
}
