@each $breakpoint, $variant in css-design-tokens.$responsive-variants {
  @include css-design-tokens.breakpoint($breakpoint) {
    .ab#{$variant}-text-right {
      text-align: right;
    }
    .ab#{$variant}-text-left {
      text-align: left;
    }
    .ab#{$variant}-text-center {
      text-align: center;
    }
  }
}
