@use '../../designTokens/_breakpoint' as *;

// Break by word
.ab-wb-break-word {
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

// Break by character
.ab-wb-break-all {
  word-break: break-all;
}
