@use '../../designTokens' as css-design-tokens;
@use '../../mixins' as mixins;

.ab-Table {
  width: 100%;
  font-size: css-design-tokens.$font-size-body-s;
  border-collapse: separate;
  border-spacing: 0 var(--ab-semantic-spacing-2);

  &-head {
    &-cell {
      height: 50px;
      padding-right: var(--ab-semantic-spacing-4);
      padding-left: var(--ab-semantic-spacing-4);
      text-align: left;
      font-weight: var(--ab-semantic-typography-font-weight-bold);
      vertical-align: middle;
    }
  }

  &-body {
    &-row {
      background-color: var(--ab-semantic-color-background-rest-primary);
      border-bottom: none;

      & td:first-child {
        border-top-left-radius: var(--ab-semantic-border-radius-md);
        border-bottom-left-radius: var(--ab-semantic-border-radius-md);
      }

      & td:last-child {
        border-top-right-radius: var(--ab-semantic-border-radius-md);
        border-bottom-right-radius: var(--ab-semantic-border-radius-md);
      }
    }
  }

  &-cell {
    padding: var(--ab-semantic-spacing-4);
    text-align: left;
    vertical-align: middle;
    overflow: hidden;
  }
}

.ab-Table-bordered {
  & .ab-Table-body {
    &-row {
      & td {
        border-top: css-design-tokens.$border;
        border-bottom: css-design-tokens.$border;
      }

      & td:first-child {
        border-left: css-design-tokens.$border;
      }

      & td:last-child {
        border-right: css-design-tokens.$border;
      }
    }
  }
}

.ab-Table-select {
  & .ab-Table-body {
    &-row {
      @include mixins.hover {
        background-color: var(--ab-semantic-color-background-brand-secondary);
        cursor: pointer;
      }
    }
  }
}

.ab-Table-overflow-visible {
  & .ab-Table-body {
    & .ab-Table-cell {
      overflow: visible;
    }
  }
}
