// font-size for PC
$font-size-headline-l: var(--ab-semantic-typography-font-size-headline-l);
$font-size-headline-m: var(--ab-semantic-typography-font-size-headline-m);
$font-size-headline-s: var(--ab-semantic-typography-font-size-headline-s);
$font-size-body-m: var(--ab-semantic-typography-font-size-body-m);
$font-size-body-s: var(--ab-semantic-typography-font-size-body-s);
$font-size-body-xs: var(--ab-semantic-typography-font-size-body-xs);

// font-size for SP
$font-size-headline-l-sp: var(--ab-semantic-typography-font-size-headline-l);
$font-size-headline-m-sp: var(--ab-semantic-typography-font-size-headline-m);
$font-size-headline-s-sp: var(--ab-semantic-typography-font-size-headline-s);
$font-size-body-m-sp: var(--ab-semantic-typography-font-size-body-m);
$font-size-body-s-sp: var(--ab-semantic-typography-font-size-body-s);
$font-size-body-xs-sp: var(--ab-semantic-typography-font-size-body-xs);
