@use '../../designTokens/typography/fontsize' as *;
@use '../../mixins/hover' as mixins;

.ab-Radio-radio {
  --radio-radio-size: 18px;
  --radio-radio-circle-size: 8px;
  --radio-radio-border-radius: 50%;
  --radio-radio-background-color: var(
    --ab-semantic-color-background-rest-primary
  );
  --radio-radio-border-color: var(--ab-semantic-color-border-bold);
  --radio-radio-checked-background-color: var(
    --ab-semantic-color-background-rest-primary
  );
  --radio-radio-checked-border-color: var(--ab-semantic-color-border-brand);
  --radio-radio-hover-background-color: var(
    --ab-semantic-color-background-hover-on-neutral
  );
  --radio-radio-focus-background-color: var(
    --ab-semantic-color-background-focus-on-neutral
  );
  --radio-radio-active-background-color: var(
    --ab-semantic-color-background-pressed-on-neutral
  );
  --radio-radio-disabled-background-color: var(
    --ab-semantic-color-background-disabled
  );
}

.ab-Radio-label {
  --radio-label-font-size: #{$font-size-body-s};
  --radio-label-color: var(--ab-semantic-color-text-default);
  --radio-label-disabled-color: var(--ab-semantic-color-text-secondary);
}

.position-top {
  --radio-position-top-flex-direction: column;
}

.position-right {
  --radio-position-top-flex-direction: row-reverse;
}

.position-bottom {
  --radio-position-top-flex-direction: column-reverse;
}

.position-left {
  --radio-position-top-flex-direction: row;
}

.ab-Radio-wrapper {
  display: inline-flex;
  gap: var(--ab-semantic-spacing-2);
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .ab-Radio {
    position: relative;
    display: inline-flex;
    gap: var(--ab-semantic-spacing-2);
    align-items: center;

    &-input {
      position: absolute;
      width: 100%;
      height: 100%;
      cursor: pointer;
      opacity: 0;
      z-index: 1;

      &:checked ~ .ab-Radio-radio {
        background-color: var(--radio-radio-checked-background-color);
        border-color: var(--radio-radio-checked-border-color);

        &::after {
          position: absolute;
          top: 50%;
          left: 50%;
          width: var(--radio-radio-circle-size);
          height: var(--radio-radio-circle-size);
          content: '';
          background-color: var(--ab-semantic-color-background-brand-primary);
          border-radius: var(--radio-radio-border-radius);
          transform: translate(-50%, -50%);
        }
      }
    }

    &-radio {
      position: relative;
      box-sizing: border-box;
      width: var(--radio-radio-size);
      height: var(--radio-radio-size);
      cursor: pointer;
      background-color: var(--radio-radio-background-color);
      border: 2px solid var(--radio-radio-border-color);
      border-radius: var(--radio-radio-border-radius);
      transition: all 0.3s ease-in-out;

      &::after {
        content: none;
      }
    }

    &-label {
      font-size: var(--radio-label-font-size);
      color: var(--radio-label-color);
    }
  }

  @include mixins.hover {
    .ab-Radio-radio,
    .ab-Radio-input:checked ~ .ab-Radio-radio {
      background-color: var(--radio-radio-hover-background-color);
    }
  }

  &:focus {
    .ab-Radio-radio,
    .ab-Radio-input:checked ~ .ab-Radio-radio {
      background-color: var(--radio-radio-focus-background-color);
    }
  }

  &:active {
    .ab-Radio-radio,
    .ab-Radio-input:checked ~ .ab-Radio-radio {
      background-color: var(--radio-radio-active-background-color);
    }
  }

  &.position-top,
  &.position-right,
  &.position-bottom,
  &.position-bottom {
    flex-direction: var(--radio-position-top-flex-direction);
  }
}

.ab-Radio-wrapper {
  &.is-disabled {
    pointer-events: none;
  }
}

.ab-Radio-radio {
  .is-disabled & {
    border: none;
    background-color: var(--radio-radio-disabled-background-color);
  }
}

.ab-Radio-input:checked ~ .ab-Radio-radio {
  .is-disabled & {
    background-color: var(--radio-radio-disabled-background-color);

    &::after {
      background-color: var(--ab-semantic-color-background-rest-primary);
    }
  }
}

.ab-Radio-label {
  .is-disabled & {
    color: var(--radio-label-disabled-color);
  }
}
