$sides: (
  top: 't',
  right: 'r',
  bottom: 'b',
  left: 'l',
);

.ab-border {
  border: css-design-tokens.$border;
}

@each $sideKey, $sideValue in $sides {
  .ab-border-#{$sideValue} {
    border-#{$sideKey}: #{css-design-tokens.$border};
  }
}

@each $widthKey, $widthValue in $border-widths {
  .ab-border-#{$widthKey} {
    border-width: #{$widthValue};
  }
}

@each $radiusKey, $radiusValue in $border-radii-semantics {
  .ab-rounded-#{$radiusKey} {
    border-radius: #{$radiusValue};
  }

  .ab-rounded-t-#{$radiusKey} {
    border-top-left-radius: #{$radiusValue};
    border-top-right-radius: #{$radiusValue};
  }

  .ab-rounded-r-#{$radiusKey} {
    border-top-right-radius: #{$radiusValue};
    border-bottom-right-radius: #{$radiusValue};
  }

  .ab-rounded-b-#{$radiusKey} {
    border-bottom-right-radius: #{$radiusValue};
    border-bottom-left-radius: #{$radiusValue};
  }

  .ab-rounded-l-#{$radiusKey} {
    border-top-left-radius: #{$radiusValue};
    border-bottom-left-radius: #{$radiusValue};
  }

  .ab-rounded-tl-#{$radiusKey} {
    border-top-left-radius: #{$radiusValue};
  }

  .ab-rounded-tl-#{$radiusKey} {
    border-top-left-radius: #{$radiusValue};
  }

  .ab-rounded-tr-#{$radiusKey} {
    border-top-right-radius: #{$radiusValue};
  }

  .ab-rounded-br-#{$radiusKey} {
    border-bottom-right-radius: #{$radiusValue};
  }

  .ab-rounded-bl-#{$radiusKey} {
    border-bottom-left-radius: #{$radiusValue};
  }
}
