@use '../../designTokens' as css-design-tokens;
@use '../../mixins' as mixins;

.ab-Tabs {
  --tabs-background-color: var(--ab-semantic-color-background-rest-secondary);
  --tabs-height: 48px;
}

.ab-Tabs-item {
  --tabs-item-font-size: #{css-design-tokens.$font-size-body-s};
  --tabs-item-color: var(--ab-semantic-color-text-default);
  --tabs-item-background-color: transparent;
  --tabs-item-hover-background-color: var(
    --ab-semantic-color-background-hover-on-neutral
  );
  --tabs-item-focus-visible-background-color: var(
    --ab-semantic-color-background-focus-on-neutral
  );
  --tabs-item-active-color: var(--ab-semantic-color-text-brand);
  --tabs-item-active-background-color: var(
    --ab-semantic-color-background-pressed-on-neutral
  );
  --tabs-item-selected-color: var(--ab-semantic-color-text-brand);
  --tabs-item-selected-background-color: var(
    --ab-semantic-color-background-rest-primary
  );
  --tabs-item-padding: 0 #{var(--ab-semantic-spacing-8)};
  --tabs-item-disabled-color: var(--ab-semantic-color-text-disable);
  --tabs-item-disabled-background-color: var(
    --ab-semantic-color-background-disabled
  );
}

.ab-Tabs-small {
  --tabs-height: 40px;

  .ab-Tabs-item {
    --tabs-item-font-size: #{css-design-tokens.$font-size-body-xs};
    --tabs-item-padding: 0 #{var(--ab-semantic-spacing-4)};
  }
}

.ab-Tabs-medium {
  --tabs-height: 48px;

  .ab-Tabs-item {
    --tabs-item-font-size: #{css-design-tokens.$font-size-body-s};
    --tabs-item-padding: 0 #{var(--ab-semantic-spacing-8)};
  }
}

.ab-Tabs {
  background-color: var(--tabs-background-color);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: var(--ab-semantic-spacing-1);
  margin: 0;
  border-radius: var(--ab-semantic-border-radius-full);
  height: var(--tabs-height);

  &-item {
    flex-grow: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--tabs-item-color);
    font-size: var(--tabs-item-font-size);
    font-weight: var(--ab-semantic-typography-font-weight-bold);
    padding: var(--tabs-item-padding);
    position: relative;
    border-radius: var(--ab-semantic-border-radius-full);
    height: 100%;

    @include mixins.hover {
      background-color: var(--tabs-item-hover-background-color);
    }

    &:focus-visible {
      background-color: var(--tabs-item-focus-visible-background-color);
    }

    &:active {
      color: var(--tabs-item-active-color);
      background-color: var(--tabs-item-active-background-color);
    }
  }

  &-item-label {
    margin: 0;
  }

  &-small,
  &-medium {
    .ab-Tabs-item {
      font-size: var(--tabs-item-font-size);
      padding: var(--tabs-item-padding);
    }
  }
}

.ab-Tabs {
  &.is-left {
    justify-content: flex-start;
  }

  &.is-center {
    justify-content: center;
  }
}

.ab-Tabs-item {
  .is-fullwidth & {
    flex-grow: 1;
  }

  &.is-selected {
    color: var(--tabs-item-selected-color);
    background-color: var(--tabs-item-selected-background-color);

    @include mixins.hover {
      background-color: var(--tabs-item-hover-background-color);
    }

    &:focus-visible {
      background-color: var(--tabs-item-focus-visible-background-color);
    }

    &:active {
      background-color: var(--tabs-item-active-background-color);
    }
  }

  &.is-disabled {
    cursor: not-allowed;
    color: var(--tabs-item-disabled-color);
    background-color: var(--tabs-item-disabled-background-color);

    @include mixins.hover {
      background-color: var(--tabs-item-disabled-background-color);
    }

    &:focus-visible {
      background-color: var(--tabs-item-disabled-background-color);
    }
  }
}
