@use '../../designTokens' as css-design-tokens;

.ab-Tooltip {
  position: relative;
  cursor: pointer;
  display: inline-block;

  &-description {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    padding: var(--ab-semantic-spacing-1) var(--ab-semantic-spacing-2);
    background-color: var(--ab-semantic-color-background-brand-primary);
    color: var(--ab-semantic-color-text-contrast);
    font-size: css-design-tokens.$font-size-body-xs;
    font-weight: var(--ab-semantic-typography-font-weight-bold);
    max-inline-size: 200px;
    overflow-wrap: break-word;
    word-break: keep-all;
  }

  &.ab-Tooltip-top {
    .ab-Tooltip-description {
      bottom: 0%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &.ab-Tooltip-right {
    .ab-Tooltip-description {
      top: 50%;
      left: 100%;
      transform: translateY(-50%);
    }
  }

  &.ab-Tooltip-bottom {
    .ab-Tooltip-description {
      top: 0%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &.ab-Tooltip-left {
    .ab-Tooltip-description {
      top: 50%;
      right: 100%;
      transform: translateY(-50%);
    }
  }
}
