@use '../../designTokens' as css-design-tokens;

@each $breakpoint, $variant in css-design-tokens.$responsive-variants {
  @include css-design-tokens.breakpoint($breakpoint) {
    @each $overflow in (visible, hidden, auto, scroll) {
      .ab#{$variant}-overflow-#{$overflow} {
        overflow: $overflow;
      }
      .ab#{$variant}-overflow-x-#{$overflow} {
        overflow-x: $overflow;
      }
      .ab#{$variant}-overflow-y-#{$overflow} {
        overflow-y: $overflow;
      }
    }
  }
}
