// Gap
@each $breakpoint, $variant in css-design-tokens.$responsive-variants {
  @include css-design-tokens.breakpoint($breakpoint) {
    @each $spaceKey, $spaceValue in $spacers {
      .ab#{$variant}-gap-#{$spaceKey} {
        gap: #{$spaceValue};
      }

      .ab#{$variant}-gap-y-#{$spaceKey} {
        row-gap: #{$spaceValue};
      }

      .ab#{$variant}-gap-x-#{$spaceKey} {
        column-gap: #{$spaceValue};
      }
    }
  }
}
