// Gap
@use '../../designTokens/breakpoint' as breakpoint;
@use '../../variables/spacer' as spacer;

@each $breakpoint, $variant in breakpoint.$responsive-variants {
  @include breakpoint.breakpoint($breakpoint) {
    @each $spaceKey, $spaceValue in spacer.$spacers {
      .ab#{$variant}-gap-#{$spaceKey} {
        gap: #{$spaceValue};
      }

      .ab#{$variant}-gap-y-#{$spaceKey} {
        row-gap: #{$spaceValue};
      }

      .ab#{$variant}-gap-x-#{$spaceKey} {
        column-gap: #{$spaceValue};
      }
    }
  }
}
