@use '../../designTokens/breakpoint' as breakpoint;

@each $breakpoint, $variant in breakpoint.$responsive-variants {
  @include breakpoint.breakpoint($breakpoint) {
    .ab#{$variant}-float-left {
      float: left;
    }
    .ab#{$variant}-float-right {
      float: right;
    }
    .ab#{$variant}-float-none {
      float: none;
    }
  }
}
