@each $breakpoint, $variant in css-design-tokens.$responsive-variants {
  @include css-design-tokens.breakpoint($breakpoint) {
    .ab#{$variant}-float-left {
      float: left;
    }
    .ab#{$variant}-float-right {
      float: right;
    }
    .ab#{$variant}-float-none {
      float: none;
    }
  }
}
