@use '../datepicker';

.ab-DateTimePicker {
  @extend .ab-DatePicker;
}

.ab-DateTimePicker-input {
  @extend .ab-DatePicker-input;
}

.ab-DateTimePicker-display {
  @extend .ab-DatePicker-display;
}
