@use '../../variables' as variables;
@use '../../designTokens' as css-design-tokens;

@each $breakpoint, $variant in css-design-tokens.$responsive-variants {
  @include css-design-tokens.breakpoint($breakpoint) {
    @each $spaceKey, $spaceValue in variables.$spacers {
      .ab#{$variant}-p-#{$spaceKey} {
        padding: #{$spaceValue};
      }
      .ab#{$variant}-px-#{$spaceKey} {
        padding-left: #{$spaceValue};
        padding-right: #{$spaceValue};
      }
      .ab#{$variant}-py-#{$spaceKey} {
        padding-top: #{$spaceValue};
        padding-bottom: #{$spaceValue};
      }
      .ab#{$variant}-m-#{$spaceKey} {
        margin: #{$spaceValue};
      }
      .ab#{$variant}-mx-#{$spaceKey} {
        margin-left: #{$spaceValue};
        margin-right: #{$spaceValue};
      }
      .ab#{$variant}-my-#{$spaceKey} {
        margin-top: #{$spaceValue};
        margin-bottom: #{$spaceValue};
      }

      @each $sideKey, $sideShorthand in variables.$sides {
        .ab#{$variant}-p#{$sideShorthand}-#{$spaceKey} {
          padding-#{$sideKey}: #{$spaceValue};
        }
        .ab#{$variant}-m#{$sideShorthand}-#{$spaceKey} {
          margin-#{$sideKey}: #{$spaceValue};
        }
      }
    }

    // margin auto（autoはspace mapにはないので個別に対応）
    .ab#{$variant}-m-auto {
      margin: auto;
    }

    .ab#{$variant}-mx-auto {
      margin-left: auto;
      margin-right: auto;
    }

    @each $sideKey, $sideShorthand in variables.$sides {
      .ab#{$variant}-m#{$sideShorthand}-auto {
        margin-#{$sideKey}: auto;
      }
    }
  }
}
