@use '../icon';
@use '../textfield';

.ab-Select-icon {
  --select-icon-color: var(--ab-semantic-color-text-brand);
}

.ab-Select {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 100%;

  &-input {
    @extend .ab-Textfield-input;

    align-items: center;
    width: 100%;
  }

  &-icon {
    @extend .ab-Icon;
    @extend .ab-Icon-xsmall;

    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: var(--ab-semantic-spacing-2);
    color: var(--select-icon-color);
    pointer-events: none;
  }
}

.ab-Select {
  .is-disabled & {
    pointer-events: none;
  }
}
