@use '../textfield/index.scss' as textfield;
@use '../icon/index.scss' as icon;

.ab-Select-icon {
  --select-icon-color: var(--ab-semantic-color-text-brand);
}

.ab-Select {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 100%;

  &-input {
    // Copy properties instead of extending
    display: flex;
    width: 100%;
    height: var(--textfield-input-height, 40px);
    padding: var(--textfield-input-padding, 0 var(--ab-semantic-spacing-2));
    font-size: var(--textfield-font-size, inherit);
    color: var(--textfield-input-color, var(--ab-semantic-color-text-default));
    background-color: var(--textfield-input-background-color, var(--ab-semantic-color-background-rest-primary));
    border: var(--textfield-input-border, 1px solid var(--ab-semantic-color-border-light));
    border-radius: var(--textfield-input-border-radius, var(--ab-semantic-border-radius-md));
    align-items: center;
    width: 100%;
  }

  &-icon {
    // Copy properties instead of extending
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--icon-size, 16px);
    height: var(--icon-size, 16px);

    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: var(--ab-semantic-spacing-2);
    color: var(--select-icon-color);
    pointer-events: none;
  }
}

.ab-Select {
  .is-disabled & {
    pointer-events: none;
  }
}
