.ab-Menu {
  --menu-font-size: #{$font-size-body-s};
}

.ab-Menu-item {
  --menu-item-height: 56px;
  --menu-item-background-color: var(
    --ab-semantic-color-background-rest-primary
  );
  --menu-item-selected-background-color: var(
    --ab-semantic-color-background-brand-secondary
  );
  --menu-item-hover-background-color: var(
    --ab-semantic-color-background-hover-on-neutral
  );
  --menu-item-active-background-color: var(
    --ab-semantic-color-background-pressed-on-neutral
  );
  --menu-item-disabled-background-color: var(
    --ab-semantic-color-background-disabled
  );
  --menu-item-disabled-color: var(--ab-semantic-color-text-secondary);
}

.ab-Menu-medium {
  --menu-font-size: #{$font-size-body-s};

  .ab-Menu-item {
    --menu-item-height: 56px;
  }
}

.ab-Menu-small {
  --menu-font-size: #{$font-size-body-xs};

  .ab-Menu-item {
    --menu-item-height: 42px;
  }
}

.ab-Menu {
  display: flex;
  flex-direction: column;
  gap: var(--ab-semantic-spacing-2);
  padding: 0;
  margin: 0;
  font-size: var(--menu-font-size);
  background-color: transparent;

  &-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: var(--menu-item-height);
    background-color: var(--menu-item-background-color);
    cursor: pointer;
    border-radius: var(--ab-semantic-border-radius-lg);
    position: relative;

    &:hover,
    &:focus-visible {
      background-color: var(--menu-item-hover-background-color);
    }

    &-label,
    &-link {
      display: flex;
      align-items: center;
      width: inherit;
      height: inherit;
      padding: var(--ab-semantic-spacing-2) var(--ab-semantic-spacing-4);
      border-radius: var(--ab-semantic-border-radius-lg);

      .ab-Menu-sub-menu & {
        padding-right: var(--ab-semantic-spacing-2);
      }

      svg {
        color: var(--ab-semantic-color-text-brand);
      }
    }

    &-link {
      &:active {
        background-color: var(--menu-item-active-background-color);
      }
    }

    & .ab-Menu-button {
      height: var(--menu-item-height);
      width: 100%;
      padding: var(--ab-semantic-spacing-2) var(--ab-semantic-spacing-4);
      cursor: pointer;
      border-radius: var(--ab-semantic-border-radius-lg);
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      svg {
        color: var(--ab-semantic-color-text-brand);
      }

      &:active {
        background-color: var(--menu-item-active-background-color);
      }

      &:hover,
      &:focus-visible {
        background-color: var(--menu-item-hover-background-color);
      }
    }

    &.is-open {
      height: inherit;

      &:active {
        background-color: var(--menu-item-background-color);
      }

      &:hover,
      &:focus-visible {
        background-color: var(--menu-item-background-color);
      }

      & .ab-Menu-button {
        &:active {
          background-color: var(--menu-item-active-background-color);
        }

        &:hover,
        &:focus-visible {
          background-color: var(--menu-item-hover-background-color);
        }
      }

      & .ab-Menu-sub-menu {
        display: flex;
        flex-direction: column;
        gap: var(--ab-semantic-spacing-2);
      }
    }
  }

  &-sub-menu {
    list-style: none;
    padding: var(--ab-semantic-spacing-2);
    margin: 0;
    display: none;
  }

  &.ab-Menu-Medium,
  &.ab-Menu-small {
    font-size: var(--menu-font-size);

    .ab-Menu-item {
      height: var(--menu-item-height);
    }
  }
}

.ab-Menu {
  &-item {
    &.is-selected {
      background-color: var(--menu-item-selected-background-color);
      font-weight: var(--ab-semantic-typography-font-weight-bold);
    }

    &.is-disabled {
      background-color: var(--menu-item-disabled-background-color);
      color: var(--menu-item-disabled-color);
      cursor: not-allowed;

      .ab-Menu-item-label,
      .ab-Menu-item-link {
        pointer-events: none;

        &:active {
          background-color: var(--menu-item-disabled-background-color);
        }

        svg {
          color: var(--menu-item-disabled-color);
        }
      }

      & .ab-Menu-button {
        svg {
          color: var(--menu-item-disabled-color);
        }
      }
    }
  }
}
